# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Environment Variables
.env

# Local Database
*.db
*.sqlite3

# Data
data/*.pdf

# IDEs
.vscode/
.idea/

# .NET / Visual Studio
frontend/**/bin/
frontend/**/obj/
frontend/**/.vs/
frontend/**/*.user
frontend/**/*.suo
frontend/**/*.userosscache
frontend/**/*.sln.docstates
frontend/**/AppPackages/
frontend/**/BundleArtifacts/
frontend/**/Generated\ Files/
frontend/**/_NavigationPropertyCache.v2
